# Otras estructuras de datos

A continuación cubriremos estructuras adicionales que no habíamos visto antes: Tuplas, conjuntos y diccionarios.


## Tuplas

Las tuplas comparten mucha similaridad con las listas puedes pueden contener muchos tipos de variables de cualquier tipo. Sin embargo, su propiedad más importante es que son **inmutables**, por lo que cuando se crean, no pueden ser cambiadas de ninguna forma. 

Se crean de dos formas:

In [30]:
tupla_a = 1,2,3
type(tupla_a)

tuple

In [31]:
tupla_b = (1,2,3)
type(tupla_b)

tuple

In [32]:
tupla_a == tupla_b

True

Sin embargo, la convención es usar los paréntesis para crear las tuplas.  

Al ser inmutables, no pueden ser modificadas

In [33]:
tupla_a.append(1,)

AttributeError: 'tuple' object has no attribute 'append'

Pueden albergar distintos tipos de datos

In [7]:
tupla_varia = (1, 'b', [1,2,3], False)
tupla_varia

(1, 'b', [1, 2, 3], False)

### Creando una tupla de un solo elemento

Vean que cuando hago una tupla de un solo elemento, pasa algo curioso: no lo reconoce como tal. Como hemos visto antes, en la situación en que estamos escribiendo expresiones, los paréntesis significan priorizar el orden de los cálculos. Lo distintivo de la tupla es la coma ``` , ```

In [34]:
a = (2)
type(a)

int

In [35]:
a = (2,)
type(a)

tuple

In [36]:
a = 2,
type(a)

tuple

### Usando un constructor para la tupla

In [37]:
lst = [1,2,3,4]
tupla_lst = tuple(lst) ## el keyword tuple es el constructor en este caso, y "construye" dicho tipo.
tupla_lst

(1, 2, 3, 4)

In [38]:
tuple(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [39]:
tuple("aquelarre")

['a', 'q', 'u', 'e', 'l', 'a', 'r', 'r', 'e']

### Cuando especificar los paréntesis es necesario.

In [40]:
ejem_a = [1,2,3,4]
ejem_b = [(1,2), (3,4)]

tuple

### Seleccionar elementos de la tupla

La selección de elementos se da de manera similar a la de las listas.

In [42]:
ejm = tuple("ballena_jorobada")

In [43]:
print(ejm)

('b', 'a', 'l', 'l', 'e', 'n', 'a', '_', 'j', 'o', 'r', 'o', 'b', 'a', 'd', 'a')

('a',
 'd',
 'a',
 'b',
 'o',
 'r',
 'o',
 'j',
 '_',
 'a',
 'n',
 'e',
 'l',
 'l',
 'a',
 'b')

In [27]:
ejm[::-1]

('a',
 'd',
 'a',
 'b',
 'o',
 'r',
 'o',
 'j',
 '_',
 'a',
 'n',
 'e',
 'l',
 'l',
 'a',
 'b')

### Operaciones con tuplas 

Se pueden hacer algunas operaciones con tuplas (eso no significa que las tuplas dejen de ser inmutables)

In [45]:
tupla_a = (1,2,3,4)
tupla_b = (5,6,7,8)
tupla_a + tupla_b

(1, 2, 3, 4, 5, 6, 7, 8)

In [31]:
tupla_a - tupla_b ## no se puede restar

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [46]:
tupla_a * 5

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [34]:
1 in tupla_a

True

Volviendo a las listas: Tomar en cuenta que cuando una lista se altera, el id sigue  siendo el mismo. Cuando hacemos una modificación a una tupla, eso no pasa (pues es inmutable)

In [56]:
lst_a = [1,2,3]
id(lst_a)

140247350703232

In [49]:
lst_a.append(4)
id(lst_a)

140247350667776

### ¿Por qué usar tuplas y no listas? 

Las tuplas tienen varias restricciones, y si las ven es porque el programa les está informando que la información proporcionada  es "fija".   
Cuando veamos los diccionarios, nos daremos cuenta que las tuplas pueden ser identificadores (keys), pero las listas no.

### Desempaque de tuplas

En programación, podemos usar el "desempaque" de las tuplas:

In [59]:
a, b, c = (1,"ojo",3)

In [60]:
print(a)
print(b)
print(c)

1
ojo
3

Esto es útil cuando queremos retornar más de un elemento de una función.

In [108]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
    grado: string
    esp: especifico que grado
    
    '''
    
    if ((edad < 6) & (edad > 16)):
        pass
    #assert edad > 5 & edad < 17
    if ((edad >=6) & (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"
        
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er año"
        elif edad == 13:
            esp = "2do año"
        elif edad == 14:
            esp = "3er año"
        elif edad == 15:
            esp = "4to año"
        else:
            esp = "5to año"
            
    return grado, esp

In [67]:
tipo = grado_escolar(14)  ## El  resultado será una tupla... Hay varios programas que cuando botan más de un elemento, son especificados así

In [63]:
type(tipo)

tuple

In [73]:
## También podemos llamar a los resultados de la función asi:

grado, anio = grado_escolar(14)

In [74]:
grado

'Secundaria'

In [75]:
anio

'3er año'

### Otro uso del desempaque de tuplas:

In [78]:
nom_mascota = [("Carla", "conejo"), ("Cristina", "gato"), ("Diego", "perro")]

In [79]:
for nombre, mascota in nom_mascota:
    print(nombre, "tiene un", mascota)

Carla tiene un conejo
Cristina tiene un gato
Diego tiene un perro

In [107]:
for nombre, mascota in nom_mascota:
    print(nombre, "tiene un", mascota)

Carla tiene un conejo
Cristina tiene un gato
Diego tiene un perro

In [111]:
## Ejemplo de uso de la función de calcula grado escolar en un loop:

lst = [] # almacenamos el resultado en una lista
edades = [11, 12, 5, 6, 14, 16, 2,11]

for edad in edades:
    grado, esp = grado_escolar(edad)
    lst.append((edad, grado, esp )) ## formamos una tupla que adherimos a nuestra lista

In [110]:
lst

[(11, 'Primaria', '6to grado'),
 (12, 'Secundaria', '1er año'),
 (5, 'Secundaria', '5to año'),
 (6, 'Primaria', '1er grado'),
 (14, 'Secundaria', '3er año'),
 (16, 'Secundaria', '5to año'),
 (2, 'Secundaria', '5to año'),
 (11, 'Primaria', '6to grado')]

## Conjuntos

Los conjuntos son tipos de datos **mutables** pero los elementos que los componen  son **únicos**. 

Estos son creados usando llaves {}

In [80]:
set_a = {1,2,3,4,4,4,4}
set_a

{1, 2, 3, 4}

In [82]:
set_mult = {1,True, False, True, "hola"}
set_mult

{1, False, 'hola'}

In [83]:
type(set_mult)

set

In [84]:
set_b = set('abracadabra')

In [85]:
set_b

{'a', 'b', 'c', 'd', 'r'}

### Operaciones con conjuntos

Lo más interesante que se puede hacer con los conjuntos, es hacer operaciones **de conjuntos** con ellos. A continuación veremos cómo hacemos esto:

In [87]:
set_a = set(range(1,10))
set_b = set(range(5,15))

print(set_a)
print(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

#### Unión

In [69]:
set_a | set_b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [70]:
set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

#### Intersección

In [71]:
set_a & set_b

{5, 6, 7, 8, 9}

In [72]:
set_a.intersection(set_b)

{5, 6, 7, 8, 9}

#### Diferencia

In [73]:
set_a - set_b

{1, 2, 3, 4}

In [74]:
set_b - set_a

{10, 11, 12, 13, 14}

#### Pertenencia

In [75]:
1 in set_a

True

In [76]:
1 in set_b

False

#### Subconjunto

In [78]:
{1,2,3,4}.issubset(set_a)

True

In [79]:
{1,2,3,4}.issubset(set_b)

False

### Cómo modificar un conjunto

In [89]:
set_a = set(range(1,10))
set_a
set_a.add(10)

In [90]:
set_a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [91]:
set_a.remove(10)
set_a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [92]:
len(set_a) ## Número de elementos de la lista (ojo son UNICOS).

9

#### OJO los conjuntos son valores no ordenados (a diferencia de las listas).

## Diccionarios

Esta es una de las estructuras más versátiles y poderosas dentro de Python. Es una estructura de datos mutable que se basa en un índice, o **key** (clave?, es un identificador único) y un valor. Es decir, el par key-value (clave-valor) son la base de esta estructura. 

Los diccionarios llevan ese nombre porque, así como los diccionarios, por ejemplo la RAE, el _key_ (clave) está ligado a una definición (valor, o valores).


### Cómo crear un diccionario

Para crear un diccionario usamos las llaves de los sets, pero también empleamos los `:`. 
El elemento a la izquierda de ``:`` es el key(clave) y aquel a la derecha es el value (valor). Los diccionarios tienen un único key.

In [93]:
ejem_dict =  {"Carla": "conejo", "Cristina": "gato",  "Diego": "perro"}

In [ ]:
ejem_dict =  {"Carla": ["salario", "direccion", "telefono"], "Cristina": "gato",  "Diego": "perro"}

In [94]:
type(ejem_dict)

dict

In [95]:
ejem_dict =  {"Carla": "conejo", "Cristina": "gato",  "Diego": "perro", "Carla": "gato"}
## No reconocerá al 2do Carla porque ya está siendo usado.

In [97]:
ejem_dict

{'Carla': 'gato', 'Cristina': 'gato', 'Diego': 'perro'}

In [4]:
ejem_dict

{'Carla': 'gato', 'Cristina': 'gato', 'Diego': 'perro'}

#### Los keys de los diccionarios tienen que ser elementos inmutables 
Por ejemplo, una lista no puede ser un key (sin embargo, una forma de resolver esto, es volverlo una tupla).

In [98]:
otro_ejem_dict =  {["Carla", "Cristina"]: "conejo", "Cristina2": "gato",  "Diego": "perro"}

TypeError: unhashable type: 'list'

In [99]:
otro_ejem_dict =  {("Carla", "Cristina"): "conejo", "Cristina2": "gato",  "Diego": "perro"}

In [100]:
otro_ejem_dict

{('Carla', 'Cristina'): 'conejo', 'Cristina2': 'gato', 'Diego': 'perro'}

#### Los values de los diccionarios pueden ser cualquier cosa
Por ejemplo, ahora las mismas personas que tienen mascotas juegan dados y obtienen los siguientes números:

In [101]:
otro_ejem_dict =  {"Carla": [1,3,4,2,2], "Cristina": [6,5,3,1,3],  "Diego": [3,4,2,5,1]}

### Creando  diccionarios

Usando el constructor de diccionarios, tambien podemos  crearlos haciendo lo siguiente:

In [9]:
dict_1 = dict(Carla = 12, Cristina= 13 , Diego = 14, Rebeca = 15, Hitoshi =  16)

In [27]:
dict_2 = dict(Carla =  [1,3,4,2,2], Cristina = [6,5,3,1,3],  Diego = [3,4,2,5,1])

In [25]:
dict_3 = dict([("Carla",[1,3,4,2,2]), ("Cristina",[6,5,3,1,3]),  ("Diego" ,[3,4,2,5,1])])

Muchas veces nos sirve crear un diccionario vacío (que irremos llenando)

In [11]:
dict_vacio = {}
type(dict_vacio)

dict

### Seleccionando valores en un diccionario

In [12]:
dict_1['Carla']

12

In [13]:
dict_1['Juan'] ##dict_1 no tiene como key a Juan, por eso no sale nada.

KeyError: 'Juan'

### Modificando un diccionario

In [14]:
dict_1['Carla'] = 13

In [15]:
dict_1['Juan'] = 16

In [22]:
del dict_1["Juan"]

### Métodos de un diccionario 
A continuación veremos los métodos de un diccionario:

El método get()

In [16]:
dict_1.get('Carla')

13

Viendo los keys y los  values de un diccionario:

In [17]:
dict_1.keys()

dict_keys(['Carla', 'Cristina', 'Diego', 'Rebeca', 'Hitoshi', 'Juan'])

In [18]:
dict_1.values()

dict_values([13, 13, 14, 15, 16, 16])

### Iterando  por un diccionario:

In [19]:
for  key, val in dict_1.items():
    print(key, val)

Carla 13
Cristina 13
Diego 14
Rebeca 15
Hitoshi 16
Juan 16

In [20]:
for val in dict_1.values():
    print(val)

13
13
14
15
16
16

In [21]:
for key in dict_1.keys():
    print(key)

Carla
Cristina
Diego
Rebeca
Hitoshi
Juan

In [23]:
for key in dict_1:
    print(key)

Carla
Cristina
Diego
Rebeca
Hitoshi

In [28]:
dict_vacio = {}

nombres = ['Carla', 'Cristina', 'Diego', 'Hitoshi', 'Lila', 'John']

for nombre in nombres:
    dict_vacio[nombre] = 1

In [29]:
dict_vacio

{'Carla': 1, 'Cristina': 1, 'Diego': 1, 'Hitoshi': 1, 'Lila': 1, 'John': 1}